

.App {
  text-align: left;
  margin: 50px;
  
}

form {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  max-width: 400px;
  margin: 0 auto;
}

input {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0 24px 0; /* Adjusted margin to add 5px at the bottom */
  border: 1px solid #ccc;
  border-radius: 5px;
}


input:focus {
  outline: none;
  border-color: #65c358;
  border-width: 1px
}

button {
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: #65c358;
  cursor: pointer;
  font-weight: bold;
}

button:disabled {
  background-color: grey;
}

.error {
  color: red;
  margin: 10px 0;
}

.name-fields {
  display: flex;
  gap: 10px;
}

.react-datepicker__day--selected {
  background-color: #65c358 !important;
  font-weight: bold !important;
}

label {
  font-weight:bold;
}

.react-datepicker__day--today {
  background-color: transparent !important;
  border-width: 1px !important;
  border-color: #65c358 !important;
}
