.App {
  text-align: left;
  margin: 50px;
  font-family: 'Montserrat', sans-serif; 
}

form {
  padding: 20px;
  border-radius: 5px;
  max-width: 450px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif; 
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0 24px 0; 
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 50px;
  font-family: 'Montserrat', sans-serif; 
}

input:focus, textarea:focus {
  outline: none;
  border-color: #65c358;
  border-width: 1px;
  font-family: 'Montserrat', sans-serif; 
}

input.error, textarea.error {
  border-color: red;
}

.submitbutton{
  width: 100%;
  height: 48px;
  font-weight: 600;
  letter-spacing: -0.02em;
  font-size: 16px;
  padding: 12px 32px; 
  margin-top: 24px;
}

button {
  color: white;
  border: none;
  border-radius: 5px;
  background-color: #65c358;
  cursor: pointer;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif; 
}

button:disabled {
  background-color: grey;
  font-family: 'Montserrat', sans-serif; 
}



.error {
  color: red;
  margin: 10px 0;
  font-family: 'Montserrat', sans-serif; 
}

.success {
  font-family: 'Montserrat', sans-serif; 
}

.name-fields {
  display: flex;
  gap: 10px;
  font-family: 'Montserrat', sans-serif; 
  width: 100%;
}

.address-fields {
  display: flex;
  gap: 10px;
  font-family: 'Montserrat', sans-serif;
}

.address-field {
  flex: 1;
  font-family: 'Montserrat', sans-serif; 
}

.react-datepicker__day--selected {
  background-color: #65c358 !important;
  font-weight: bold !important;
  font-family: 'Montserrat', sans-serif; 
}

label {
  letter-spacing: -0.02em;
  line-height: 1.8;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif; 
}

label.required::after {
  content: '*';
  color: red;
  margin-left: 5px;
}



.react-datepicker__day--today {
  border-width: 1px !important;
  border-style: solid !important;
  border-color: #65c358 !important;
  background-color: #fff !important;
  font-family: 'Montserrat', sans-serif; 
  font-weight: 400 !important; /* Or any valid font-weight value */
  border-radius: 5px;
}

.react-datepicker__day--keyboard-selected {
  background-color: #fff !important;
}


.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker {
  font-family: 'Montserrat', sans-serif; 
  
}


.react-datepicker__input-container input {
  width: 100%;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
}

.react-datepicker__input-container input.error {
  border-color: red;
}

.react-datepicker__header,
.react-datepicker__month,
.react-datepicker__day,
.react-datepicker__day-name,
.react-datepicker__current-month,
.react-datepicker__navigation-icon,
.react-datepicker__navigation,
.react-datepicker__triangle,
.react-datepicker__time-container,
.react-datepicker__time,
.react-datepicker__time-box,
.react-datepicker-time__header,
.react-datepicker__time-list-item {
  font-family: 'Montserrat', sans-serif; 
}

.contactless-delivery {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 24px 0 24px 0; 
  padding-bottom: 0;
  margin-bottom: 0;
}

.contactless-delivery input[type="checkbox"] {
  margin: 0; 
  padding: 0; 
  padding-bottom: 0;
  margin-bottom: 0;
  padding-right: 1rem;
  border: none;
  outline: none;
  width: auto; 
  height: auto; 
}

.cd-padding{
  padding-top: 0;
  margin-top: 0;
}
  
.delivery-instructions {
  margin-top: 0px;
}

textarea {
  width: calc(100% - 20px);
  height: 80px; /* Adjust this height as needed */
  font-family: 'Montserrat', sans-serif; 
  resize: vertical; /* Allow vertical resize only */
  max-height: 200px; /* Limit maximum height */
}

.react-datepicker {
  margin-top: 10px;
}

h1 {
  font-family: 'Montserrat', sans-serif; 
  font-size: 26px;
  letter-spacing: -0.02em;
  font-weight: 600;
  margin-bottom: 16px;
  padding-bottom: 5px;
  border-bottom: 2px solid #65c358;
}

.react-datepicker__current-month {
  font-weight: 600 !important;
}

p {
  margin-top: 12px;
  font-family: 'Montserrat', sans-serif; 
  letter-spacing: -0.02em;
  color: #ff4d4d;
  font-size: 12px;
  font-weight: 500;

}